@import '../variables';
@import '../responsiveness';
@import '../typography';

.assetsGrid {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    grid-auto-rows: 1fr;

    justify-items: center;
    align-items: center;

    margin-right: auto;
    margin-left: auto;
    padding: $spacing-s;

    max-width: 1400px;

    @include breakpoint(large-mobile-up) {
        grid-template-columns: 1fr 1fr;
    }

    @include breakpoint(desktop-up) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &__item {
        position: relative;
        padding: $spacing-xs;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 200px;
        }
    }

    &__itemName {
        @include p--bold;
        margin-top: $spacing-xxs;

        text-align: center;
        word-wrap: break-word;
        &--dark {
            color: $dark-grey;
        }
    }
}
