@import '../variables';
@import '../typography';
@import '../responsiveness';

.dropdown {
    border: 1px solid $dark-primary-color;
    border-radius: $border-radius;
    padding: $spacing-xxs $spacing-xs;
    cursor: pointer;

    .show {
        background-color: $dark-grey;
    }
    &__button {
        color: $typography-body;
        display: flex;
        align-items: center;

        &::after {
            margin-left: 5px;
            color: $typography-body;
        }
        &:hover {
            color: $typography-headline;
            text-decoration: none;
            &::after {
                color: $typography-headline;
            }
        }
    }

    &__item {
        @include p;
        color: $typography-body;
        padding: $spacing-xs;

        &:hover {
            color: $typography-headline;
            text-decoration: none;
        }
    }
}
