.margin-for-header {
    margin-top: 72px;
    min-height: calc(100vh - 77px - 179px);
}

@media screen and (min-width: 900px) {
    .margin-for-header {
        min-height: calc(100vh - 77px - 112px);
    }
}